[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
jinja2 = "*"
nsfw-detector = "*"
flask-restful = "*"
tensorflow-io = "*"

[dev-packages]

[requires]
python_version = "3.9"
